<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="Autofac.Extras.Attributed" version="3.2.1" targetFramework="net451" />
  <package id="Caliburn.Metro" version="0.5.0" targetFramework="net451" />
  <package id="Caliburn.Metro.Autofac" version="0.5.0" targetFramework="net451" />
  <package id="Caliburn.Micro" version="2.0.0" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="2.0.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="EntityFramework.SqlServerCompact" version="6.1.1" targetFramework="net451" />
  <package id="MahApps.Metro" version="0.14.0.0" targetFramework="net451" />
  <package id="MahApps.Metro.Resources" version="0.3.0.0" targetFramework="net451" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8854.1" targetFramework="net451" />
</packages>